#site_header{
    background-color: aqua;
    background-image: url(../pattern.png);
    background-size: 280px;
}
.logo_img{
    width: 140px;
    padding: 1rem 0.5rem
}
.paragraph{
    padding-top: 1rem;
    padding-bottom: 1 rem;
}
main{
    width: 80%;
    margin: auto;
}