#site_header{
    background-color: aqua;
    background-image: url(../pattern.png);
    background-size: 280px;
    width: 80%;
    margin:auto
}
.logo_img{
    width: 140px;
    padding: 1rem 0.5rem
}
.paragraph{
    padding-top: 1rem;
    padding-bottom: 1 rem;
}
main{
    width: 80%;
    margin: auto;
}
.table_head{
    background-color: rgb(0, 183, 255);
    align-items: left;
}
.table_body{
    background-color: aqua;
    align-items: left;
}
.last_images{
    text-decoration: beige;
}
.lorem_1{
    background-image:url(../html-css-booleaner/graph.jpg);
}
.lorem_2{
    background-image: url(../html-css-booleaner/monitor.jpg);
}